## List

**List is a built in data type in Python**

In [7]:
## syntax to create a list is
l=list([1,2,3,4,5,6])
## or you can define a list in this way
l=[1,2,3,4,5]

In [58]:
## If you want to see the type
type(l)

list

In [ ]:
## Now create a list containing alphabets "a","b","c","d", and print the list
## Ans

In [8]:
## list.append(ele) in python. This method is used to insert an element in the list at the end.
l=[1,2,3,4]
l.append(5)
print(l)

[1, 2, 3, 4, 5]

In [ ]:
## Now append 6 to the same list defined above and print it
##Ans

In [16]:
## Inserting an element at any position l.insert(index,val)
l=[1,2,3,4,5,6]
l.insert(0,10)
print(l)

[10, 1, 2, 3, 4, 5, 6]

In [ ]:
## Now insert 5 in the above given list at index 2
## ANS

In [10]:
## we can access any element of a list by indexing
l=[1,2,3,4,5]
## to get first element
print(l[0])
## to get second element
print(l[1])

1
2

In [11]:
## print the third and last element of the list defined above
##ANS

In [1]:
## Slicing of a list
l=[1,2,3,4,5,6,7]
## Inorder to see all elements right to position 2
print(l[2:])

[3, 4, 5, 6, 7]

In [2]:
## Print all elements till second last elements
##Ans

In [7]:
## Print all alternate elements of the abovelist
## Ans

[1, 3, 5, 7]

In [12]:
## Inorder to reverse a list permanentely
l=[1,2,3,4,5,6]
l.reverse()
print(l)

[6, 5, 4, 3, 2, 1]

In [14]:
## Reverse the given list
l2=[3,4,5,5,6,7,8]
##ANS


print(l2)

[8, 7, 6, 5, 5, 4, 3]

In [20]:
## Inorder to remove any elememnt from the end of a list 
l=[1,2,3,4,5,6]
l.pop()
print(l)

[1, 2, 3, 4, 5]

In [21]:
## Remove last element of the given list
l=[1,2,3,4,5,6]

#ANS



print(l)

[1, 2, 3, 4, 5]

In [22]:
## Remove the element at any given position  l.pop(index)
l=[1,2,3,4,5,6]
l.pop(2) 
print(l)

[1, 2, 4, 5, 6]

In [23]:
## Similarly remove 3 index from  the given list
l=[1,2,3,4,5,6,7,8]

##Ans


print(l)

[1, 2, 3, 5, 6, 7, 8]

In [24]:
## To remove any particular value from a list use l.remove(value)
l=[1,2,3,4,5,6]
l.remove(6)
print(l)

[1, 2, 3, 4, 5]

In [25]:
## Remove the value 10 from the given list
l=[10,20,30,40,50,60]

##ANS




print(l)

[20, 30, 40, 50, 60]

## Dictionary

**Dictionaries are used to store data values in key:value pairs.**|

In [36]:
## Syntax to create a dictionary
d={"A":1,"B":2,"C":3,"D":4}

In [57]:
## If you want to see the type
type(d)

dict

In [37]:
## Here ["A","B","C","D"] are called keys
## [1,2,3,4] are called values

In [38]:
## In order to get all keys of a dictionary
d.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [39]:
## In order to get all values of a dictionary
d.values()

dict_values([1, 2, 3, 4])

In [40]:
## You can access any value by its key
print("The value of A key",d["A"])
print("The value of B key",d["B"])

The value of A key 1
The value of B key 2

In [41]:
## If you want to get the key and items as a pair 
d.items()

dict_items([('A', 1), ('B', 2), ('C', 3), ('D', 4)])

In [42]:
## In order to iterate over a dictionary
for key, value in d.items():
    print(key,value)

A 1
B 2
C 3
D 4

In [43]:
## If you want to create new key value pair 
d["E"]=5

In [44]:
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [ ]:
## HomeWork
## Create a dictionar in which the keys will be the days of the week like Sunday, Munday......
## And the values will be 0,1,..6 i.e Sunday:0, Munday:1......

In [ ]:
## Now print all the keys prsent in the dictionary
#Ans

In [45]:
## Print all the values prsent in the dictionary
##Ans

In [46]:
## A values can be list , string, set ,tuple too
d={"a":[10,20,30],"b":[40,50]}

In [47]:
d

{'a': [10, 20, 30], 'b': [40, 50]}

In [ ]:
## Now insert a new key value pair i.e "c":[100,200,300]
##Ans

In [48]:
d={"a":{"b":[10,20,30,40]},"c":{"d":[30,40,50,60]}}

In [51]:
d

{'a': {'b': [10, 20, 30, 40]}, 'c': {'d': [30, 40, 50, 60]}}

In [50]:
## Access the values 40 from the above dictionary
##Ans

In [52]:
## Access the value 60 from the above dictionary
## Ans

## Tuple

In [53]:
## Tuple is immutable i.e its size is fixed. Once defined, you can't change it
## Syntax to create a tuple
t=(10,20,30,54,100)
print(t)

(10, 20, 30, 54, 100)

In [54]:
## You could define a tuple in this way too
t=tuple([10,203,0,40,5])

In [59]:
print(t)

(10, 203, 0, 40, 5)

In [56]:
## If you want to see the type
type(t)

tuple

In [60]:
## As i said it is immutable
t.add(10)

AttributeError: 'tuple' object has no attribute 'add'

In [61]:
t.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [62]:
## You can't add or remove element from a tuple

In [64]:
## You can access any element by its index
t[1]

203

In [65]:
## create a tuple of [10,20,30,40]

## print its type

## Ans

## Set

A set is a collection of **unique** elements which is **unordered**, **unchangeable**, and **unindexed**.

In [66]:
## Syntax to create a set
s={"a","b","c","d"}

In [67]:
print(s)

{'a', 'd', 'c', 'b'}

In [70]:
type(s)

set

In [74]:
## Now I have bolded the unique , it means it does store any duplicates
## example
s={"a","a","b","b","c","c","c"}

In [75]:
s

{'a', 'b', 'c'}

In [73]:
## Also it is unordered i.e it is not necessarliy mantains any order

In [76]:
## You can't access any elemets by its index
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
## But you can add elements to the set by s.add(value)
s.add(100)

In [80]:
s

{100, 'a', 'b', 'c'}

There are lot of method still available in set. I will recommend you to have a read on that [here](https://www.programiz.com/python-programming/set#:~:text=A%20set%20is%20an%20unordered,or%20remove%20items%20from%20it.)

In [ ]:
## Now create a set and try to add one or two elements
##Ans

## String

In [81]:
#syntax to create a string is simple
s="hello world"

In [82]:
## In order to change the case of each character to upper case
s.upper()

'HELLO WORLD'

In [83]:
## Inorder to change the case of each character to lower case
s.lower()

'hello world'

In [84]:
## To create convert first letter of the sentence to upper
s.capitalize()

'Hello world'

In [85]:
## To check the string startswith a particular character or not
s.startswith("h")

True

In [86]:
s.startswith("k")

False

In [87]:
## To split the sentence by any value 
s="welcome to the hello world"
s.split()

['welcome', 'to', 'the', 'hello', 'world']

In [89]:
## To remove unwanted space from both ends of a sentence
s=" the sentence is a big sentence "
print(s.strip())

the sentence is a big sentence

In [90]:
## Give me the domain name (gmail.com/ yahoo.com) of the each email id present in the list
emails=["siddhant@gmail.com","ankush@yahoo.com","manish@google.com","debanshu@amzoon.com"]

In [ ]:
##Ans

In [91]:
## In order to create a sentence out of list of words
words=["Python","is","in","my","laptop"]
" ".join(words)

'Python is in my laptop'

In [92]:
words=["They","are","playing","football"]
## Join these words to form a sentence
##Ans